@import "tailwindcss";
/* include styles from the ui package */
@import "./vars.scss";

@config '../../tailwind.config.mjs';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  h1,
  .ztdl-h1 {
    @apply text-2xl text-center;
  }

  .ztdl-p {
    @apply text-sm text-center text-text-light-secondary-500 dark:text-text-dark-secondary-500;
  }
}

html {
  --background-color: #ffffff;
  --dark-background-color: #000000;
}

.form-checkbox:checked {
  background-image: url("/checkbox.svg");
}

.skeleton {
  --accents-2: var(--theme-light-background-400);
  --accents-1: var(--theme-light-background-500);

  background-image: linear-gradient(
    270deg,
    var(--accents-1),
    var(--accents-2),
    var(--accents-2),
    var(--accents-1)
  );
  background-size: 400% 100%;
  animation: skeleton_loading 8s ease-in-out infinite;
}

.dark .skeleton {
  --accents-2: var(--theme-dark-background-400);
  --accents-1: var(--theme-dark-background-500);

  background-image: linear-gradient(
    270deg,
    var(--accents-1),
    var(--accents-2),
    var(--accents-2),
    var(--accents-1)
  );
  background-size: 400% 100%;
  animation: skeleton_loading 8s ease-in-out infinite;
}

@keyframes skeleton_loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
